.section {
  margin-top: 104px;
}

.title {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: center;
  margin-bottom: 76px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 35px;
    margin-bottom: 51px;
  }
  .section {
    margin-top: 51px;
  }
}

.cardsSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  position: relative;
  width: 1800px;
  max-height: 350px;
  border: 2px solid #7d7d7d;
  border-radius: 50px;
  margin: 0 auto 35px;
}

@media (max-width: 1440px) {
  .card {
    width: 1024px;
    max-height: 320px;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 1024px;
    height: 300px;
  }
}

.cardClosed {
  position: relative;
  width: 1800px;
  height: 114px;
  border: 2px solid #7d7d7d;
  border-radius: 25px;
  margin: 0 auto 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px) {
  .cardClosed {
    width: 1024px;
  }
}

.cardTitle {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 80.79%;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: left;
  padding: 33px 0 40px 31px;
}

.cardDescription {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: 0.5px;
  color: #424242;
  padding: 0 266px 0 31px;
  margin-bottom: 50px;
}

.svg {
  /* position: absolute;
  right: 45px;
  top: 90px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%); */
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
}

@media (max-width: 1440px) {
  .cardTitle {
    font-size: 18px;
    padding: 30px 0 20px 30px;
  }
  .cardDescription {
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .svg {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 55px;
  }
}
