.section {
  margin-top: 104px;
}

.title {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: center;
  margin-bottom: 76px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 35px;
    margin-bottom: 51px;
  }
  .section {
    margin-top: 51px;
  }
}

.titleSvg {
  margin-left: 25px;
}

@media (max-width: 425px) {
  .title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .section {
    margin-top: 25px;
  }

  .titleSvg {
    width: 13px;
    height: 16px;
    margin-left: 10px;
  }
}

.cardsSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  width: 1800px;
  max-height: 350px;
  border: 2px solid #7d7d7d;
  border-radius: 50px;
  margin: 0 auto 35px;
}

@media (max-width: 1440px) {
  .card {
    display: flex;
    align-items: center;
    width: 1024px;
    max-height: 320px;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 1024px;
    height: 300px;
  }
}

@media (max-width: 425px) {
  .card {
    width: 300px;
    /* max-height: ; */
  }
}

.cardClosed {
  /* position: relative; */
  width: 1800px;
  height: 114px;
  border: 2px solid #7d7d7d;
  border-radius: 25px;
  margin: 0 auto 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px) {
  .cardClosed {
    display: flex;
    align-items: center;
    width: 1024px;
    max-height: 320px;
  }
}

@media (max-width: 425px) {
  .cardClosed {
    display: flex;
    align-items: center;
    width: 300px;
    max-height: 320px;
  }
}

.cardTitle {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 80.79%;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: left;
  padding: 33px 0 40px 31px;
}

.cardDescription {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: 0.5px;
  color: #424242;
  padding: 0 266px 0 31px;
  margin-bottom: 50px;
}

.svg {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 850px;
}

@media (max-width: 1440px) {
  .cardTitle {
    font-size: 18px;
    padding: 30px 0 30px 30px;
  }
  .cardDescription {
    font-size: 15px;
    letter-spacing: 0.1px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .svg {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 480px;
  }
}

@media (max-width: 425px) {
  .cardTitle {
    font-size: 12px;
    padding: 15px 0 15px 15px;
    text-align: center;
  }
  .cardDescription {
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 10px;
    margin-bottom: 15px;
    padding: 0 5px 0 5px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .svg {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 130px;
    display: none;
  }
}
