.background {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 765px;
  padding-top: 54px;
  margin: auto;
}

.backgroundImage {
  margin-left: 50px;
}

@media (max-width: 1440px) {
  .backgroundImage,
  .background {
    width: 1000px;
    height: 500px;
    object-fit: contain;
    /* display: flex;
    justify-content: center; */
    margin: auto;
  }
  .background {
    padding-top: 10px;
  }
}

@media (max-width: 425px) {
  .backgroundImage,
  .background {
    width: 400px;
    height: 170px;
    object-fit: contain;
    /* display: flex;
    justify-content: center; */
    margin: auto;
  }
  .background {
    padding-top: 10px;
  }
}

.mainLogo {
  left: calc(50% - 180px);
  position: absolute;
  top: 91px;
}

@media (max-width: 1440px) {
  .logo {
    /* position: absolute; */
    /* top: -30px;
    left: -255px; */
    width: 250px;
    height: 85px;
  }
  .svg {
    position: absolute;
    width: 22px;
    height: 22px;
    right: -85px;
    top: -15px;
  }
  .mainLogo {
    left: calc(50% - 110px);
    position: absolute;
    top: 75px;
  }
}

@media (max-width: 425px) {
  .logo {
    /* position: absolute; */
    top: -90px;
    left: -500px;
    width: 150px;
    height: 49px;
  }
  .svg {
    position: absolute;
    width: 22px;
    height: 22px;
    right: -90px;
    top: -75px;
  }
  .mainLogo {
    left: calc(50% - 75px);
    position: absolute;
    top: 21px;
  }
}

.accountLogo {
  position: absolute;
  top: 96px;
  right: 100px;
  cursor: pointer;
}

.buttons {
  position: absolute;
  bottom: -50px;
  left: 270px;
}

@media (max-width: 1440px) {
  .buttons {
    position: absolute;
    bottom: -35px;
    left: 13%;
    display: flex;
  }
}

@media (max-width: 425px) {
  .buttons {
    position: absolute;
    bottom: -55px;
    left: 7.5%;
    display: flex;
  }
}

.searchJob {
  width: 650px;
  height: 100px;
  margin-right: 44px;
  background: #f7faff;
  border: 2px solid #103778;
  border-radius: 73px;
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 34px;
  letter-spacing: 0.5px;
  color: #103778;
  cursor: pointer;
}

.searchWorker {
  width: 650px;
  height: 100px;
  background: #fdfdfd;
  border: 2px solid #ececec;
  border-radius: 73px;
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 34px;
  letter-spacing: 0.5px;
  color: #424242;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .searchJob {
    width: 350px;
    height: 75px;
    margin-bottom: 35px;
    font-size: 30px;
  }
  .searchWorker {
    width: 350px;
    height: 75px;
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .searchJob {
    width: 150px;
    height: 25px;
    margin-bottom: 35px;
    padding-bottom: 35px;
    font-size: 12px;
  }
  .searchWorker {
    width: 150px;
    height: 25px;
    font-size: 12px;
    padding-bottom: 35px;
  }
}
