.bgColor {
  background-color: #f8f8f8;
  position: relative;
}

@media (max-width: 425px) {
  .bgColor {
    width: 425px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 56px 0 74px 52px;
}

.footer,
a {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 80.79%;
  letter-spacing: 0.5px;
  color: #000000;
  margin: 0 80px 50px 0;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .footer,
  a {
    font-size: 15px;
  }
}

.logoFooter {
  padding-right: 116px;
}

.footerNum,
a {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 80.79%;
  letter-spacing: 0.5px;
  color: #000000;
  margin-right: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.svg {
  margin-right: 30px;
}

.chat {
  position: absolute;
  right: 68px;
  bottom: 268px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .footer,
  .footerNum,
  a {
    font-size: 15px;
  }

  .svg {
    width: 25px;
    height: 25px;
  }
  .chatImage {
    width: 60px;
    height: 55px;
  }
  .logoFooter {
    width: 150px;
    height: 85px;
    object-fit: contain;
  }
  .chat {
    position: absolute;
    right: 68px;
    bottom: 200px;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .logo {
    flex-direction: column;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .chat {
    position: absolute;
    right: 48px;
    top: -20px;
    cursor: pointer;
  }
  .logoFooter {
    padding-right: 0;
  }
  .footer,
  .footerNum,
  a {
    margin-top: 10px;
    margin-right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .svg {
    text-align: center;
    margin-right: 0;
    margin: auto;
    margin-top: 20px;
  }
}
