.section {
  margin-top: 191px;
}

@media (max-width: 1440px) {
  .section {
    margin-top: 91px;
  }
}

@media (max-width: 425px) {
  .section {
    margin-top: 40px;
  }
}

.title {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: center;
  margin-bottom: 81px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 35px;
    margin-bottom: 51px;
  }
}

.titleSvg {
  margin-left: 25px;
}

@media (max-width: 425px) {
  .title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .titleSvg {
    width: 13px;
    height: 16px;
    margin-left: 10px;
  }
}

.cardsSection {
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .cardsSection {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .cardsSection {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media (max-width: 425px) {
  .cardsSection {
    display: grid;
  }
}

.card {
  width: 423px;
  height: 338px;
  background: #f8f8f8;
  border: 2px solid #ececec;
  border-radius: 50px;
  margin: 0 41px 41px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .card {
    width: 200px;
    height: 200px;
  }
  .card:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .card {
    height: 160px;
  }
}

@media (max-width: 425px) {
  .card {
    margin: 0;
    margin-bottom: 15px;
  }
}

.card:hover {
  background: rgba(143, 180, 241, 0.1);
  border: 2px solid #103778;
}

.icon {
  width: 110px;
  height: 72px;
  border: 2px solid #424242;
  border-radius: 33.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .icon {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
    padding: 3px;
  }
  .svg {
    width: 20px;
    height: 20px;
  }
}

.more {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 80.79%;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #103778;
}

.cardTitle {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 80.79%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #424242;
  margin-top: 27px;
}

@media (max-width: 1440px) {
  .cardTitle {
    font-size: 20px;
    padding: 0 5px 0 5px;
  }
  .more {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .cardTitle {
    margin-top: 10px;
    font-size: 18px;
  }
}

.cardDescription {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #424242;
  margin-top: 62px;
}

@media (max-width: 1440px) {
  .cardDescription {
    font-size: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .cardDescription {
    font-size: 16px;
    margin-top: 15px;
  }
}

.cardHovered {
  width: 423px;
  height: 338px;
  left: 52px;
  top: 1128px;
  background: rgba(143, 180, 241, 0.1);
  border: 2px solid #103778;
  border-radius: 50px;
  margin: 0 41px 41px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .cardHovered {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .cardHovered {
    width: 200px;
    height: 160px;
  }
}

@media (max-width: 425px) {
  .cardHovered {
    margin: 0;
    margin-bottom: 15px;
  }
}

.allVacancies {
  width: 423px;
  height: 338px;
  left: 52px;
  top: 1128px;
  background: rgba(143, 180, 241, 0.1);
  border-radius: 50px;
  margin: 0 41px 41px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .allVacancies {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .allVacancies {
    width: 200px;
    height: 160px;
  }
}
