.section {
  margin-top: 113px;
}

.title {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #103778;
  text-align: center;
  margin-bottom: 140px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 35px;
    margin-bottom: 51px;
  }
  .section {
    margin-top: 51px;
  }
}

@media (max-width: 425px) {
  .section {
    margin-top: 40px;
  }
}

.titleSvg {
  margin-left: 25px;
}

@media (max-width: 425px) {
  .title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .section {
    margin-top: 25px;
  }

  .titleSvg {
    width: 13px;
    height: 16px;
    margin-left: 10px;
  }
}

.cardsSection {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 425px) {
  .cardsSection {
    display: grid;
  }
}

@media (max-width: 1440px) {
  .hovered {
    flex-wrap: wrap;
  }
}

.card {
  position: relative;
  width: 423px;
  height: 509px;
  margin: 0 32px 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .card {
    width: 250px;
    height: 350px;
    margin-bottom: 70px;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 250px;
    height: 350px;
    margin-bottom: 70px;
  }
}

.link {
  position: absolute;
  top: 45%;
  left: 45%;
  margin-right: 0;
  display: none;
}

@media (max-width: 1440px) {
  .link {
    position: absolute;
    top: 40%;
    left: 45%;
  }
}

.card:hover .link {
  display: block;
}

.card:hover .hovered {
  webkit-filter: blur(4px);
  filter: blur(4px);
}

.more {
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #7d7d7d;
  margin: 50px 0 50px 0;
}

.cardTitle {
  width: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DniproCity";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 80.79%;
  letter-spacing: 0.5px;
  color: #103778;
  margin-top: 20px;
}

.docHovered {
  position: relative;
  width: 423px;
  height: 509px;
  margin: 0 32px 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .docHovered {
    width: 250px;
    height: 350px;
    margin-bottom: 70px;
  }
}

.docHovered:hover .hovered {
  webkit-filter: blur(4px);
  filter: blur(4px);
}

.docHovered:hover .link {
  display: block;
}

@media (max-width: 1440px) {
  .hovered {
    width: 250px;
    height: 350px;
    object-fit: contain;
  }

  .cardTitle,
  .more {
    font-size: 20px;
  }
  .svg {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 1024px) {
  .docHovered {
    width: 250px;
    height: 350px;
    margin-bottom: 70px;
  }
  .hovered {
    width: 250px;
    height: 350px;
    object-fit: contain;
  }
}

@media (max-width: 425px) {
  .more {
    margin-top: 0;
  }
}
