@font-face {
  font-family: "DniproCity";
  src: url("/public/fonts/DniproCity-Regular.woff") format("woff");
}
@font-face {
  font-family: "DniproCityBold";
  src: url("/public/fonts/DniproCity-Bold.woff") format("woff");
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 1920px; */
}

.main_container {
  max-width: 1920px;
  margin: auto;
}

@media (max-width: 1440px) {
  body {
    width: 1260px;
    /* margin: 0; */
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    width: 720px;
  }
  .main_container {
    max-width: 720px;
    margin: auto;
  }
}

@media (max-width: 425px) {
  body {
    width: 400px;
    /* margin: 0; */
    display: flex;
    justify-content: center;
  }
  section {
    width: 400px;
    margin: auto;
  }
}
@media (max-width: 375px) {
  body {
    width: 350px;
    margin-left: 35px;
    display: flex;
    justify-content: center;
  }
  section {
    width: 350px;
    margin: auto;
  }
  .main_container {
    max-width: 350px;
    margin: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
